html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("../images/bg.png") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Raleway", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
}
/* header section */
.site-sub-title {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin: 0 0 30px;
}

.site-sub-title::before,
.site-sub-title::after {
  background-color: #fff;
  content: "";
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
  height: 2px;
  width: 140px;
}

.site-title {
  font-size: 7.6rem;
  margin: 50px 0 40px;
}

.header-desc {
  color: #888;
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.header-buttons .buttons {
  margin: 10px;
}

.buttons {
  background-color: #afa58d;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 20px;
  width: 200px;
}

.buttons:hover {
  opacity: 0.9;
}

.button-showy {
  background-color: #f1b400;
}
