.box1 {
  background-color: pink;
  padding: 20px;
  width: 200px;
  height: 100px;
}

.box2 {
  background-color: skyblue;
  box-sizing: border-box;
  padding: 20px;
  width: 200px;
  height: 100px;
}
