/* 使い方 */
.container {
  display: flex;
  background-color: lightgray;
}

.items {
  border: solid 1px;
  background-color: rgb(8, 0, 255);
}

/* 子要素の幅の指定方法 */
.container_item1 {
  background-color: blueviolet;
  flex-grow: 2;
}

.container_item2 {
  background-color: cadetblue;
  flex-shrink: 1;
}

.container_item3 {
  background-color: salmon;
  flex-basis: auto;
}

.container_items {
  flex-grow: 1;
  border: 3px solid rgb(128, 128, 128);
  background-color: blueviolet;
}

/* 単一行で並べるか複数行で並べるかの指定 */

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.container2_items {
  background-color: chocolate;
  flex-basis: 100px;
}

/* 子要素　(flex item)の揃え位置を指定する */

.justified-items {
  background-color: aqua;
  border: 3px solid rgb(128, 128, 128);
  flex-basis: auto;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

/* Flexbox2.md */

/* flex itemの順番を変更する */
.on-the-left {
  order: 0;
  background-color: chocolate;
  flex-grow: 1;
}
.on-the-right {
  order: 2;
  background-color: chartreuse;
  flex-grow: 1;
}
.in-the-middle {
  order: 1;
  background-color: tomato;
  flex-grow: 1;
}
