.list .items:nth-of-type(1) {
  /* item1のみに適用される */
  color: red;
}

.list .items:nth-of-type(even) {
  /* item2, item4, item6 に適用される */
  background-color: pink;
}

.paragraphs:nth-child(2n) {
  background-color: pink;
}
